# Terraform
*.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Keep this tracked for reproducible provider versions:
!.terraform.lock.hcl